<div class="row">
<div class="col-sm-12">
  <div class="sf-recipe-dashboard-category-buttons-wrapper clearfix">
    <div class="sf-recipe-dashboard-category-buttons-container">
        <a class="btn btn-default">Pork</a>
        <a class="btn btn-default">Fish</a>
        <a class="btn btn-default">Beef</a>
        <a class="btn btn-default">Chix</a>
    </div>
      <div class="sf-recipe-dashboard-expand-wrapper" *ngFor="let recipe of mockRecipeData; let i = index">
        <div *ngIf="alphabetDividerBool" class="alphabet-divider" [innerHTML]="alphabetDivider"></div>
        <expand-collapse-component [index]="i" [recipe]="recipe"></expand-collapse-component>
      </div>
  </div>
</div>
</div>
