<div class="sf-cooking-type-wrapper">
	<div class="row">
		<div class="sf-slow-cooker sf-cooking-type-container" (click)="toDashboardPage()">
			<div class="sf-cooking-type-text-container">
				<span class="sf-cooking-type-title">Slow Cooker</span>
				<span class="fas fa-angle-right"></span>
			</div>
		</div>
		<div class="sf-juicer sf-cooking-type-container" (click)="toDashboardPage()">
			<div class="sf-cooking-type-text-container">
				<span class="sf-cooking-type-title">Juicer</span>
				<span class="fas fa-angle-right"></span>
			</div>
		</div>
		<div class="sf-sous-vide sf-cooking-type-container" (click)="toDashboardPage()">
			<div class="sf-cooking-type-text-container">
				<span class="sf-cooking-type-title">Sous Vide</span>
				<span class="fas fa-angle-right"></span>
			</div>
		</div>
		<div class="sf-blender sf-cooking-type-container" (click)="toDashboardPage()">
			<div class="sf-cooking-type-text-container">
				<span class="sf-cooking-type-title">Blender</span>
				<span class="fas fa-angle-right"></span>
			</div>
		</div>
	</div>
</div>