/* You can add global styles to this file, and also import other style files */

$global-green: #849a84;
$global-black: #000000;
@mixin align-nav-parent {
    display: inline-block;
    position: relative;
    height: 100%;
}

@mixin align-nav-icon {
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 2rem;
}

@mixin align-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
@mixin green-button-default {
    background: $global-green;
    border: 1px solid $global-black;
    color: $global-black;
    letter-spacing: 3px;
}
@mixin green-button-active{
    background: white;
    border: 1px solid $global-green;
    color: black;
    letter-spacing: 3px;
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
body {
    background: white;
    /* over riding bootstrap width for now to set to mobile until desktop designs are in */
    max-width: 375px;
    margin: 0 auto;
    
    /* over riding bootstrap width for now to set to mobile until desktop designs are in */
    @media (min-width: 768px) {
        .container {
            max-width: 375px;
        }
    }
    .global-green {
        background: $global-green;
    }
    .alphabet-slicer{
        background-color: $global-green;
        width: 100%;
        text-align: left;
        padding: 1rem 0px 1rem 15px;
    }
}

.simply-fed {
    /*nav bar SCSS */
    .sf-nav-bar-wrapper {
        background: white;
        height: 50px;
        border-bottom: 1px solid#C0C0C0;
        .sf-logo {
            text-align: center;
        }
        .sf-menu-button {
            @include align-nav-parent();
            span {
                color: $global-green;
                @include align-nav-icon();
                &.align-right {
                    right: 0%;
                }
            }
        }
        .sf-logo img {
            height: 47px;
        }
    }
    .sf-menu-container {
        background: white;
        color: black;
        position: fixed;
        right: auto;
        top: 50%;
        left: -300px;
        top: 0;
        z-index: 9999;
        width: 100%;
        max-width: 250px;
        transition: all 300ms ease-in;
        height: 100%;
        &.active {
            left: 0;
            position: fixed;
        }
        .sf-menu-positon-holder {
            position: relative;
            padding-bottom: 40px;
            .sf-close-menu-icon {
                position: absolute;
                right: 15px;
            }
        }
    }
    /*cooking type page scss */
    .sf-cooking-type-wrapper {
        .sf-slow-cooker {
            &:before {
                content: '';
                background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) !important;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }
        .sf-cooking-type-container {
            height: 200px;
            position: relative;
            .sf-cooking-type-text-container {
                color: $global-black;
                font-size: 2rem;
                .sf-cooking-type-title {
                    @include align-center;
                    letter-spacing: 5px;
                }
                .fas {
                    @include align-center;
                    right: 5%;
                    left: auto;
                    font-size: 3rem
                }
            }
        }
    }
    /* sf dashboard page */
    .sf-recipe-dashboard-category-buttons-wrapper {
        overflow-y: scroll;
        text-align: center;
        padding-top: 40px;
        .sf-recipe-dashboard-category-buttons-container {
            margin-bottom: 3rem;
            .btn {
                width: 20%;
                @include green-button-default();
                &:hover{
                    @include green-button-active();
                }
            }
        }
    }
    /* expand/collapse scss */
    .sf-expand-collapse-wrapper {
        position: relative;
        border-bottom: 1px solid black;
        float: left;
        width: 100%;
        .sf-expand-collapse-header-container {
            vertical-align: middle;
            padding: 20px 0px;
            .sf-expand-collapse-name {
                line-height: 34px;
                float: left;
                width: 75%;
                text-align: left;
            }
            .sf-expand-collapse-arrow {
                float: right;
                width: 25%;
                text-align: right;
                &.transform-expand-icon {
                    .fa-angle-down {
                        transform: rotate(180deg);
                    }
                }
                .fa-angle-down {
                    padding: 10px;
                }
            }
        }
        .sf-expand-collapse-body-container {
            max-height: 0px;
            overflow: hidden;
            transition:max-height 0.3s ease-in;
            &.expanded {
                transition:max-height 0.3s ease-in;
                max-height: 500px;
                overflow-x: hidden; 
            }
            .sf-expand-collapse-body-ingredients {
                padding-bottom: 1rem;
                .name-placeholder {
                    text-align: left;
                }
                ul {
                    list-style-type: none;
                    width: 100%;
                    float: left;
                    padding: 0px;
                    margin: 0px;
                }
                li {
                    width: 50%;
                    float: left;
                    text-align: left;
                    padding: 2px 0px;
                }
            }
            .sf-expand-collapse-body-description {
                text-align: left;
                display: inline-block;
                padding-bottom: 1rem;
            }
            .btn {
                @include green-button-default();
                margin-bottom: 2rem;
                &:hover{
                @include green-button-active();
                }

            }
        }
    }
}